streamlit
sounddevice                   
astunparse                                     
audioread                      
librosa                      
matplotlib                                   
numpy                        
tensorflow                   
tensorflow_intel             
tensorflow-io-gcs-filesystem            
wavio                        
