streamlit
sounddevice                   
astunparse                                     
audioread                      
librosa                      
matplotlib                   
mdurl                       
ml_dtypes                    
numpy                        
requests                     
setuptools                   
soundfile                    
tensorboard                  
tensorboard-data-server      
tensorflow                   
tensorflow_intel             
tensorflow-io-gcs-filesystem            
urllib3                      
watchdog                     
wavio                        
