streamlit
sounddevice                                                     
audioread                      
librosa                                                 
numpy                        
tensorflow                          
wavio                        
portAudio
